<div class="row">
    <div class="col-4">
        <img class="img-thumbnail book-image" [src]="book.image">
    </div>
    <div class="col-8">
        <div class="row">
            <h2 class="book-title">{{book.title}}</h2>
        </div>
        <div class="row">
            <h4 class="book-price">{{book.price | currency: 'USD':'symbol'}}</h4>
        </div>
        <div class="row">
            <h4 class="new-price" [innerHTML]='book.price | discount:20'></h4>
        </div>
        <div class="row">
            <h4 class="book-upvotes">{{book.upvotes}}</h4>
        </div>
        <div class="row">
            <h4 class="book-description">{{book.description}}</h4>
        </div>
        <div class="row">
            <button class="btn btn-secondary col-1 upvote-button" (click)="upvote()">Upvote</button>
        </div>
        <div class="row">
            <button class="btn btn-primary col-1 cart-button" (click)="sendToCart()">Add To Cart</button>
        </div>
    </div>
</div>
